In [ ]:
import pandas as pd

Description of the Dataset:
This dataset contains these columns: id, date, price, bedrooms, bathrooms, sqft_living,
sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built,
yr_renovated, zip code, lat, long, sqft_living15, sqft_lot15.

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Dataset/Assignment/housing.csv')

In [ ]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

1. How many houses have a waterfront?
A. 140
B. 340
C. 323
D. 163

In [ ]:
len(df[df['waterfront']==1])

163

2. Which zip code has the costliest house?
A. 98456
B. 98102
C. 98283
D. 89034

In [ ]:
df[df['price']==df['price'].max()]['zipcode']

7252    98102
Name: zipcode, dtype: int64

3. How many houses are having grade 10?
A. 1133
B. 1134
C. 1135
D. 1132

In [ ]:
len(df[df['grade']==10])

1134

4. How many null values are there in the dataset?
A. 20
B. 19
C. 0
D. 4

In [ ]:
df.isnull().sum().sum()

0

5. Does this 9126100861 customer have a waterfront?
A. Yes
B. No

In [ ]:
df[df['id']==9126100861]['waterfront']

400    0
Name: waterfront, dtype: int64

6. How many houses have 3 views?
A. 340
B. 550
C. 510
D. 90

In [ ]:
len(df[df['view']==3])

510

7. What is the lowest price of the house?
A. 45000
B. 28000
C. 75000
D. 25000

In [ ]:
df['price'].min()

75000

8. Which zip code area has the cheapest house?
A. 98000
B. 98022
C. 80000
D. 94500

In [ ]:
df[df['price'] == df['price'].min()]['zipcode']

1149    98022
Name: zipcode, dtype: int64

9. Which area has the biggest sqft_living?
A. 98053
B. 98055
C. 98035
D. None of the above

In [ ]:
df[df['sqft_living'] == df['sqft_living'].max()]['zipcode']

12777    98053
Name: zipcode, dtype: int64

10. In which year the costliest house has been built?
A. 2000
B. 1992
C. 1911
D. 1910

In [ ]:
df[df['price'] == df['price'].max()]['yr_built']

7252    1910
Name: yr_built, dtype: int64

11. Which of the following data types can a Pandas Series have?
A. Int
B. Str
C. Float
**D. All of the above**

12. Which of the following is having a one-dimensional array?
**A. Series data type**
B. DataFrame data type
C. Both of the above
D. None of the above

13. What value will you get on the left side after printing a series format data?
A. Data
B. Value
**C. Index**
D. All of the above

In [ ]:
import pandas as pd
sr = pd.Series([1,2,3,4,5])
print(sr)

0    1
1    2
2    3
3    4
4    5
dtype: int64

14. Which of the following is considered as data in pandas?

A. Dictionary

B. Boolean

C. Nd-array

**D. All of the above**

15. In what format the keys will get converted into when we convert the dictionary data into
data frame format?

A. Rows

**B. Columns**

C. Indexes

D. Records

In [ ]:
import pandas as pd
# Create a sample dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 28],
        'City': ['New York', 'London', 'Paris']}

# Convert the dictionary to DataFrame
df1 = pd.DataFrame(data)

# Print the DataFrame to observe the format
print(df1)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   28     Paris

16. Write a function to perform the following operation:
Increase the grade of the house by 1 if the sqft of the house is greater than 0 and less than
equal to 400. If the total sqft of the house is greater than 400, increase the grade of the house
by 2.
After creating the above function, which syntax will be using when using apply function to run
the above created function in the dataset?

A. data.apply(your_function_name(arg1))

B. data.apply_fun(function_name())

C. data.app(data)

**D. None of the above**

In [ ]:
def adjust_grade(row):
    if row['sqft_living'] <= 400:
        return row['grade'] + 1
    else:
        return row['grade'] + 2


df['grade']=df.apply(adjust_grade,axis=1)

17. How to check the duplicate values on id,grade and location?

A. df.duplicated(subset=['id','zipcode','grade'])

B. df.duplicate(subset=['id','zipcode','grade'])

**C. df[df.duplicated(['id','zipcode','grade’])]**

D. All of the above

Quiz has diffrent option A & C and which is correct

In [ ]:
df.duplicated(subset=['id','zipcode','grade'])

0        False
1        False
2        False
3        False
4        False
         ...
21608    False
21609    False
21610    False
21611    False
21612    False
Length: 21613, dtype: bool

18. Which of the following code will help to display the 3rd, 4th and 5th rows from the 6th to 9th
columns of data frame data?

A. data.loc[3:6, 6:10]

B. data.iloc[3;6,6;10]

**C. data.iloc[3:6,6:10]**

D. None of the above

In [ ]:
df.iloc[3:6,6:10]

   sqft_lot  floors  waterfront  view
3      5000     1.0           0     0
4      8080     1.0           0     0
5    101930     1.0           0     0

19. Which of the following syntax will display the last two records of df?

import pandas as pd

df = pd.DataFrame({'A':[34, 78, 54], 'B':[12, 67, 43]}, index=['r1', 'r2', 'r3'])

A. df.iloc[:'r3']

B. df.loc['r2':'r3']

C. df.iloc['r2':'r3']

D. df.loc[:'r3']

In [ ]:
df_1 = pd.DataFrame({'A':[34, 78, 54], 'B':[12, 67, 43]}, index=['r1', 'r2', 'r3'])
df_1

     A   B
r1  34  12
r2  78  67
r3  54  43

In [ ]:
df.loc['r2':'r3']

     A   B
r2  78  67
r3  54  43

20. Which of the following is/are true about loc in pandas:

A. Add new rows in the data frames

B. To change the values of a row to a particular value

C. To extract values from the particular rows

**D. All of the above**

In [ ]:
# All of the above statements are true about the `loc` function in pandas.

# A. Add new rows in the data frames
df_1.loc['r4'] = [10, 20]

# B. To change the values of a row to a particular value
df_1.loc['r2'] = [100, 200]

# C. To extract values from the particular rows
df_1.loc['r1']

df_1

Wrong

21. Change the date column in the format (dd/mm/year) using the pandas to_datetime()Function.

A. pd.to_datetime(data['date'], format='%Y-%m-%d', utc=False, dayfirst=True)

B. pd.to_datetime(data['date'])

C. pd.to_datetime(data['dates'], format='%Y-%m-%d', utc=False, dayfirst=True)

D. pd.to_datetime(data['date'])

In [ ]:
#df['date']= pd.to_datetime(df['date'])
#pd.to_datetime(df['date'], format='%d/%mmm/%Y', utc=False, dayfirst=True)

df['date'] = pd.to_datetime(df['date']).dt.strftime('%d/%m/%Y')
df['date']

<ipython-input-13-2d1742224618>:4: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['date'] = pd.to_datetime(df['date']).dt.strftime('%d/%m/%Y')

0        13/10/2014
1        09/12/2014
2        25/02/2015
3        09/12/2014
4        18/02/2015
            ...
21608    21/05/2014
21609    23/02/2015
21610    23/06/2014
21611    16/01/2015
21612    15/10/2014
Name: date, Length: 21613, dtype: object

22. Create a separate data frame that satisfies the conditions below.

  1. Houses built before 1980

  2. Have more than 2 bedrooms

  3. Have more than 2 floors.

A. data.loc[(data["yr_built"] > 1980) & (data['floors'] > 2) & (data['bedrooms'] > 2)]

**B. data.loc[(data["yr_built"] < 1980) & (data['floors'] > 2) & (data['bedrooms'] > 2)]**

C. data.loc[(data["yr_built"] | 1980) & (data['floors'] > 2) | (data['bedrooms'] > 2)]

D. data.loc[(data["yr_built"] < 1980) | (data['floors'] > 2) | (data['bedrooms'] < 2)]

In [ ]:
data=df.copy()
data.loc[(data['yr_built']<1980) & (data['bedrooms']>2) & (data['floors']>2)]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
518,4386700135,2014-11-14,2250000,4,2.25,4760,8036,2.5,0,0,...,9,3390,1370,1916,0,98112,47.6415,-122.285,2950,9323
759,770000045,2014-10-24,405600,5,1.50,2830,4000,2.5,0,0,...,8,2830,0,1918,0,98118,47.5132,-122.262,1480,4000
960,7578200310,2014-11-12,650000,4,2.00,2208,5000,3.0,0,0,...,8,2208,0,1917,0,98116,47.5711,-122.383,1760,5000
1296,5458800125,2014-05-14,925000,4,2.50,2190,7350,2.5,0,0,...,8,2190,0,1958,0,98040,47.5786,-122.236,1880,7350
1350,7234600786,2014-05-11,842500,4,2.50,2160,5298,2.5,0,0,...,9,2160,0,1902,0,98122,47.6106,-122.310,1720,2283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18535,3667500015,2014-09-25,770000,4,3.50,3680,2242,2.5,0,0,...,9,2670,1010,1930,2007,98112,47.6192,-122.307,1350,1288
18631,1337800665,2014-08-11,1325000,4,3.25,2850,4800,2.5,0,0,...,10,2700,150,1905,0,98112,47.6292,-122.312,2850,4800
19068,6613001241,2014-08-11,1415000,4,3.00,3110,4408,2.5,0,3,...,10,2510,600,1931,0,98105,47.6583,-122.270,3250,5669
19188,7942601475,2014-05-20,345600,5,3.50,2800,5120,2.5,0,0,...,9,2800,0,1903,2005,98122,47.6059,-122.310,1780,5120
19272,1337300145,2014-07-21,1800000,4,2.50,3320,8325,2.5,0,0,...,10,3320,0,1905,0,98112,47.6263,-122.314,3680,6050

23. For a given nested list, convert the same into a dataframe.

sample_list = [['Carl', 22],
['Martha', 25],
['Calvin', 12],
['Stuart', 15]
]

The resulting dataframe must contain the column names as ‘Name’, and ‘Age’ with the respective values from the sample_list.

A. pd.DataFrame(sample_list)

B. pd.DataFrame(sample_list, column_names=['Name', 'Age'])

**C. pd.DataFrame(sample_list, columns=['Name', 'Age'])**

D. pd.DataFrame(sample_list, column_name=['Name', 'Age'])

In [ ]:
sample_list = [['Carl', 22],
['Martha', 25],
['Calvin', 12],
['Stuart', 15]
]
pd.DataFrame(sample_list, columns=['Name', 'Age'])

     Name  Age
0    Carl   22
1  Martha   25
2  Calvin   12
3  Stuart   15

Check Again

24. For a given dictionary, convert the same into a dataframe.
sample_dict = {'Cristiano': ['Ronaldo','Man U', 801],
'Lionel': ['Messi','PSG', 758],
'Luis': ['Suarez','Atletico Madrid', 509],
'Robert': ['Lewandowski','Bayern Munich', 527],
'Zlatan': ['Ibrahimovic','AC Milan',553]
}

A. df1 = pd.Dataframe(sample_dict)
df1 = df1.transpose()
df1.reset_index(inplace = True)
df1.columns = ['First Name','Last Name', 'Club', 'Goals']

B. df1 = pd.DataFrame(sample_dict)
df1 = df1.transpose()
df1.reset_index(inplace = True)
df1.columns = ['First Name','Last Name', 'Club', 'Goals'] **bold text**

C. df1 = pd.DataFrame(sample_dict)
df1.reset_index(inplace = True)
df1.columns = ['First Name','Last Name', 'Club', 'Goals']

D. df1 = pd.DataFrame(sample_dict)
df1 = df1.transpose()
df1.columns = ['First Name','Last Name', 'Club', 'Goals']

In [ ]:
from re import I
sample_dict = {'Cristiano': ['Ronaldo','Man U', 801],
'Lionel': ['Messi','PSG', 758],
'Luis': ['Suarez','Atletico Madrid', 509],
'Robert': ['Lewandowski','Bayern Munich', 527],
'Zlatan': ['Ibrahimovic','AC Milan',553]}
df24=pd.DataFrame(sample_dict)
df24=df24.transpose()
df24.reset_index(inplace=True)
df24.columns = ['First Name','Last Name', 'Club', 'Goals']

df24

  First Name    Last Name             Club Goals
0  Cristiano      Ronaldo            Man U   801
1     Lionel        Messi              PSG   758
2       Luis       Suarez  Atletico Madrid   509
3     Robert  Lewandowski    Bayern Munich   527
4     Zlatan  Ibrahimovic         AC Milan   553

25. For a given tuple, convert the same into a dataframe.
sample_tuple = ([1, 'one', 3],
[2, 'two', 3],
[3, 'Three', 5],
[4, 'Four', 4],
[5, 'Five', 4])

A. pd.Dataframe(sample_tuple, columns=['Number', 'Number_text', 'txtlen'])

**B. pd.DataFrame(sample_tuple, columns=['Number', 'Number_text', 'txtlen'])**

C. pd.dataframe(sample_tuple, columns=['Number', 'Number_text', 'txtlen'])

D. pd.DataFrame(sample_tup, columns=['Number', 'Number_text', 'txtlen'])

In [ ]:
sample_tuple = ([1, 'one', 3],
[2, 'two', 3],
[3, 'Three', 5],
[4, 'Four', 4],
[5, 'Five', 4])
pd.DataFrame(sample_tuple, columns=['Number', 'Number_text', 'txtlen'])

   Number Number_text  txtlen
0       1         one       3
1       2         two       3
2       3       Three       5
3       4        Four       4
4       5        Five       4

26. Create a separate dataframe that contains houses ordered in ascending or descending
order of the prices of each house.

A. ascending = housing.sort_values('price', ascending=False)
descending = housing.sort_values('price', ascending=False)

**B. ascending = housing.sort_values('price', ascending=True)
descending = housing.sort_values('price', ascending=False) **

C. ascending = housing.sort_values('price', ascending=False)
descending = housing.sort_values('price', ascending=True)

D. ascending = housing.sort_values('price', ascending=True)
descending = housing.sort_values('price', ascending=True)

In [ ]:
ascending=df.sort_values('price',ascending=True)
descending=df.sort_values('price',ascending=False)

27. Calculate the mean and standard deviation of all the numerical values in the dataset. For
example - the mean for the bedrooms column is 3.370 and the standard deviation is 0.930.

**A. housing.describe()**

B. housing.info()

C. housing.corr()

D. housing.std()

In [ ]:
df.describe()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,21613,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,...,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,2014-10-29 04:38:01.959931648,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,...,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
min,1.000102e+06,2014-05-02 00:00:00,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,...,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,2014-07-22 00:00:00,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,...,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,2014-10-16 00:00:00,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,...,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,2015-02-17 00:00:00,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,...,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,2015-05-27 00:00:00,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,...,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000
std,2.876566e+09,NaN,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,...,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631

Wrong

28. Perform the following operations on the pandas dataframe.

  1. Get the data starting from the rows 25 to 35.

  2. Get the price of the houses located at the longitude--122.045 latitude- 47.6168.

A. data[25:35], data.loc[(housing["lat"] == 47.6168) | (data["long"] == -122.045)]

B. data[25:35], data.loc[(housing["lat"] == 48.6168) & (data["long"] == -122.045)]

C. data[25:36], data.loc[(housing["lat"] == 47.6168) & (data["long"] == -122.045)]

D. data[24:36], data.loc[(housing["lat"] == 47.6168) & (data["long"] == -122.045)]

In [ ]:
df[25:36]
df.loc[(df["lat"] == 47.6168) & (df["long"] == -122.045)]['price']

4    510000
Name: price, dtype: int64

29. Create a new column with the floor area(sqft_living, sqft_lot, sqft_above, sqft_basement, all combined in one column).

A. data['Floor Area'] = data['sqft_living'], data['sqft_lot'], data['sqft_basement'],
data['sqft_above']

**B. df['Floor Area'] = data['sqft_living'] + data['sqft_lot'] + data['sqft_basement'] +data['sqft_above']**

C. data['Floor Area'] = data['sqft_living', 'sqft_lot','sqft_basement','sqft_above']

D. data['Floor Area'] = data['sqft_liv', 'sqft_lot','sqft_base','sqft_above']

In [ ]:
df['Floor Area'] =df['sqft_living'] + df['sqft_lot'] + df['sqft_basement'] +df['sqft_above']

30. Perform the following operations on the dataframes given below.

A = pd.DataFrame([['Carl', 22],['Martha', 25],['Calvin', 12],['Stuart', 15]], columns=[‘Name’, ‘Age’])

B = pd.DataFrame([['Melvin', 25],['Martha', 34],['Lewis', 32],['Leo', 25]], columns=[‘Name’, ‘Age’])

1. Left Outer Join

2. Outer Join

3. Inner Join

4. Right Outer Join

A. inner = pd.merge(A, B, on='Age', how='inner_join')

outer = pd.merge(A, B, on='Age', how='outer_join')

left_outer = pd.merge(A, B, on='Age', how='left_join')

right_outer = pd.merge(A, B, on='Age', how='right_join')

B. inner = pd.merge(A, B, on='Age', how='inner')

outer = pd.merge(A, B, on='Age', how='outer')

left_outer = pd.merge(A, B, on='Age', how='left_outer')

right_outer = pd.merge(A, B, on='Age', how='right_outer')

C. inner = pd.merge(A, B, on='Age', how='inner')

outer = pd.merge(A, B, on='Age', how='outer')

left_outer = pd.merge(A, B, on='Age', how='left')

right_outer = pd.merge(A, B, on='Age', how='right') **bold text**

D. inner = pd.merge(A, B, on='Age', how='inner')

outer = pd.merge(A, B, on='Age', how='outer')

left_outer = pd.merge(A, B, on='Age', how='outer_left')

right_outer = pd.merge(A, B, on='Age', how='outer_right')

In [ ]:
A = pd.DataFrame([['Carl', 22],['Martha', 25],['Calvin', 12],['Stuart', 15]], columns=['Name', 'Age'])

B = pd.DataFrame([['Melvin', 25],['Martha', 34],['Lewis', 32],['Leo', 25]], columns=['Name', 'Age'])

inner=pd.merge(A,B,on='Age',how='inner')
outer=pd.merge(A,B,on='Age',how='outer')
left=pd.merge(A,B,on='Age',how='left')
right=pd.merge(A,B,on='Age',how='right')

31. What will be the correlation between the columns sqft_living and sqft_above?

A. 0.702035

B. 0.754665

**C. 0.876597**

D. 0.303093

In [ ]:
df.corr()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,Floor Area
id,1.000000,0.005577,-0.016762,0.001286,0.005160,-0.012258,-0.132109,0.018525,-0.002721,0.011592,...,-0.010842,-0.005151,0.021380,-0.016907,-0.008224,-0.001891,0.020799,-0.002901,-0.138798,-0.131520
date,0.005577,1.000000,-0.004357,-0.016800,-0.034410,-0.034559,0.006313,-0.022491,0.001356,-0.001800,...,-0.027924,-0.019469,-0.000355,-0.024509,0.001404,-0.032856,-0.007020,-0.031515,0.002566,0.004739
price,-0.016762,-0.004357,1.000000,0.308350,0.525138,0.702035,0.089661,0.256794,0.266369,0.397293,...,0.605567,0.323816,0.054012,0.126434,-0.053203,0.307003,0.021626,0.585379,0.082447,0.119763
bedrooms,0.001286,-0.016800,0.308350,1.000000,0.515884,0.576671,0.031703,0.175429,-0.006582,0.079532,...,0.477600,0.303093,0.154178,0.018841,-0.152668,-0.008931,0.129473,0.391638,0.029244,0.056788
bathrooms,0.005160,-0.034410,0.525138,0.515884,1.000000,0.754665,0.087740,0.500653,0.063744,0.187737,...,0.685342,0.283770,0.506019,0.050739,-0.203866,0.024573,0.223042,0.568634,0.087175,0.120172
sqft_living,-0.012258,-0.034559,0.702035,0.576671,0.754665,1.000000,0.172826,0.353949,0.103818,0.284611,...,0.876597,0.435043,0.318049,0.055363,-0.199430,0.052529,0.240223,0.756420,0.183286,0.215319
sqft_lot,-0.132109,0.006313,0.089661,0.031703,0.087740,0.172826,1.000000,-0.005201,0.021604,0.074710,...,0.183512,0.015286,0.053080,0.007644,-0.129574,-0.085683,0.229521,0.144608,0.718557,0.999062
floors,0.018525,-0.022491,0.256794,0.175429,0.500653,0.353949,-0.005201,1.000000,0.023698,0.029444,...,0.523885,-0.245705,0.489319,0.006338,-0.059121,0.049614,0.125419,0.279885,-0.011269,0.010406
waterfront,-0.002721,0.001356,0.266369,-0.006582,0.063744,0.103818,0.021604,0.023698,1.000000,0.401857,...,0.072075,0.080588,-0.026161,0.092885,0.030285,-0.014274,-0.041910,0.086463,0.030703,0.025984
view,0.011592,-0.001800,0.397293,0.079532,0.187737,0.284611,0.074710,0.029444,0.401857,1.000000,...,0.167649,0.276947,-0.053440,0.103917,0.084827,0.006157,-0.078400,0.280439,0.072575,0.086586
condition,-0.023783,-0.050769,0.036362,0.028472,-0.124982,-0.058753,-0.008958,-0.263768,0.016653,0.045990,...,-0.158214,0.174105,-0.361417,-0.060618,0.003026,-0.014941,-0.106500,-0.092824,-0.003406,-0.011465
grade,0.008130,-0.039912,0.667434,0.356967,0.664983,0.762704,0.113621,0.458183,0.082775,0.251321,...,0.755923,0.168392,0.446963,0.014414,-0.184862,0.114084,0.198372,0.713202,0.119248,0.146186
sqft_above,-0.010842,-0.027924,0.605567,0.477600,0.685342,0.876597,0.183512,0.523885,0.072075,0.167649,...,1.000000,-0.051943,0.423898,0.023285,-0.261190,-0.000816,0.343803,0.731870,0.194050,0.220488
sqft_basement,-0.005151,-0.019469,0.323816,0.303093,0.283770,0.435043,0.015286,-0.245705,0.080588,0.276947,...,-0.051943,1.000000,-0.133124,0.071323,0.074845,0.110538,-0.144765,0.200355,0.017276,0.034284
yr_built,0.021380,-0.000355,0.054012,0.154178,0.506019,0.318049,0.053080,0.489319,-0.026161,-0.053440,...,0.423898,-0.133124,1.000000,-0.224874,-0.346869,-0.148122,0.409356,0.326229,0.070958,0.066611
yr_renovated,-0.016907,-0.024509,0.126434,0.018841,0.050739,0.055363,0.007644,0.006338,0.092885,0.103917,...,0.023285,0.071323,-0.224874,1.000000,0.064357,0.029398,-0.068372,-0.002673,0.007854,0.010012
zipcode,-0.008224,0.001404,-0.053203,-0.152668,-0.203866,-0.199430,-0.129574,-0.059121,0.030285,0.084827,...,-0.261190,0.074845,-0.346869,0.064357,1.000000,0.267048,-0.564072,-0.279033,-0.147221,-0.137237
lat,-0.001891,-0.032856,0.307003,-0.008931,0.024573,0.052529,-0.085683,0.049614,-0.014274,0.006157,...,-0.000816,0.110538,-0.148122,0.029398,0.267048,1.000000,-0.135512,0.048858,-0.086419,-0.082642
long,0.020799,-0.007020,0.021626,0.129473,0.223042,0.240223,0.229521,0.125419,-0.041910,-0.078400,...,0.343803,-0.144765,0.409356,-0.068372,-0.564072,-0.135512,1.000000,0.334605,0.254451,0.238124
sqft_living15,-0.002901,-0.031515,0.585379,0.391638,0.568634,0.756420,0.144608,0.279885,0.086463,0.280439,...,0.731870,0.200355,0.326229,-0.002673,-0.279033,0.048858,0.334605,1.000000,0.183192,0.176632
sqft_lot15,-0.138798,0.002566,0.082447,0.029244,0.087175,0.183286,0.718557,-0.011269,0.030703,0.072575,...,0.194050,0.017276,0.070958,0.007854,-0.147221,-0.086419,0.254451,0.183192,1.000000,0.720481
Floor Area,-0.131520,0.004739,0.119763,0.056788,0.120172,0.215319,0.999062,0.010406,0.025984,0.086586,...,0.220488,0.034284,0.066611,0.010012,-0.137237,-0.082642,0.238124,0.176632,0.720481,1.000000

32. If the correlation between the columns bathrooms and sqft_living is 0.754665, what all interpretations can be made about the two columns?

**A. A positive correlation between the two columns**

B. The columns show perfect correlation.

C. A strong negative correlation between the two columns

D. No correlation between the two columns.